body {
background-color: white;
color:black;
font-family:"Calibri", sans-serif;
}

  h1{
    background-color:#C5D3E8;
    text-align: center;
    color:white;
    font-family:sans-serif;
  }

  h2{
    color:white;
    background-color: #C5D3E8;
    text-align: center;
    font-family:sans-serif;
  }

.giphy {
  width: 50%;
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  max-width: 100px; /* Sets a maximum size */
}

.centered-div {
  width: 50%;
  margin: 0 auto;
}

.leftdiv {
  display:flex;
  justify-content:flex-start;  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#C5D3E8;
  display:flex;
  justify-content:center;
}

ul li a {
  display:block;
  color:white;
  padding: 14px 16px;
  text-decoration:none;
}

ul li a:hover{
background-color:#C5D3E8;
}

.contact-form {
  display:flex;
  flex-direction:column;
}

/*bug prevention*/
/*prevents images from breaking the layout*/
img {
  max-width: 100%;
  height:auto;
}

/*prevent boxes from pushing off the screen*/
* {
  box-sizing:border-box;
}

input[type="text"], 
input[type="email"], 
textarea,
button[type="submit"]{
    border: 4px solid #C5D3E8;
    border-radius:10px;
    padding: 10px;
    margin-bottom:10px;
    width:100%;
    max-width:600px;
    font-size:16px;
    margin-left: auto;
    margin-right: auto;
}

textarea{
  min-height:150px;
}

button[type="submit"]{
  appearance:none;
  background-color:#C5D3E8;
  cursor:pointer;
  border:none;
  font-family:inherit;
}

.resume-container{
max-width:800px;
margin:0 auto;
width: 100%; 
height: auto; 
image-rendering:-webkit-optimize-contrast;
}

.flex-container {
display:flex;
flex-wrap: wrap;
justify-content:space-between;
align-items:flex-start;
max-width:1200px;
margin: 0 auto;
}

.column-left {
flex: 0 1 auto;
max-width:600px;
}

.column-right {
flex: 0 1 auto;

}
.child {
  display:flex;
  flex-direction:column; /*stack items vertically */
  align-items:center;
  text-align:left;
  padding:10px;
}

@media (max-width: 768px) {  */when the screen is 768px wide or less-tablet size and smaller*/
  .flex-container{
    flex-direction:column;
  }
.column-left, .column-right{
width:100%;
}
                          }

