body {
background-color: white;
color:black;
font-family:"Calibri", sans-serif;
}

  h1{
    background-color:#C5D3E8;
    text-align: center;
    color:white;
    font-family:sans-serif;
  }

  h2{
    color:white;
    background-color: #C5D3E8;
    text-align: center;
    font-family:sans-serif;
  }

.giphy {
  width: 50%;
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  max-width: 100px; /* Sets a maximum size */
}

.centered-div {
  width: 50%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:#C5D3E8;
  display:flex;
  justify-content:center;
}

ul li a {
  display:block;
  color:white;
  padding: 14px 16px;
  text-decoration:none;
}

ul li a:hover{
background-color:#C5D3E8;
}

.centerdiv {
  text-align: center;
  }

.contact-form {
  display:flex;
  flex-direction:column;
}

/*bug prevention*/
/*prevents images from breaking the layout*/
img {
  max-width: 100%;
  height:auto;
}

/*prevent boxes from pushing off the screen*/
* {
  box-sizing:border-box;
}

input[type="text"], 
input[type="email"], 
textarea,
button[type="submit"]{
    border: 4px solid #C5D3E8;
    border-radius:10px;
    padding: 10px;
    margin-bottom:10px;
    width:100%;
    max-width:600px;
    font-size:16px;
    margin-left: auto;
    margin-right: auto;
}

textarea{
  min-height:150px;
}

button[type="submit"]{
  appearance:none;
  background-color:#C5D3E8;
  cursor:pointer;
  border:none;
  font-family:inherit;
}

.resume-container{


}
