.giphy {
  width: 50%;
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
  max-width: 100px; /* Sets a maximum size */
}

.centered-div {
  width: 50%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:


}
